body{
    background: rgb(0, 255, 213);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background: white;
}